<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <!-- Add footer content here -->
    </div>
</footer>
</main>

<!-- Libraries -->
<script>
    function setActiveMenuItem() {
        const currentPath = window.location.pathname;
        const menuItems = document.querySelectorAll('.menu-aside .menu-item');
        menuItems.forEach(item => {
            item.classList.remove('active'); 
            const link = item.querySelector('.menu-link');
            const href = link.getAttribute('href');
            
            if (href && currentPath.includes(href)) {
                item.classList.add('active');
            }
        });
    }
    document.addEventListener('DOMContentLoaded', setActiveMenuItem);
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Vendor Scripts -->
<!-- <script src="/assets/js/vendors/select2.min.js"></script>
<script src="/assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/assets/js/vendors/chart.js"></script> -->

<!-- Custom Scripts -->
</script>
</body>

</html>